h2 {
    color: darkgrey;
    text-align: center;
    font-size: 50px;
}

p {
    color: black;
    font-size: 20px;
}

a {
    color: blue;
    font-size: 20px;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0;
}

input[type=submit] {
    width: 100%;
    background-color: YellowGreen;
    color: White;
    padding: 12px 12px;
    border: none;
    border-radius: 10px;

}

body {
    background-color: GhostWhite;
    padding: 20px;
}